%h2
	Your Applications
%hr
.btn-toolbar
	.btn-group
		= link_to 'Register new application', new_oauth2_client_path, remote: true, class: 'btn'

#ApplicationCarousel.carousel.slide
	.carousel-inner
		#application_container.active.item{:style=>'min-height:640px;'}
			- if current_user.oauth2_clients.any?
				%table#appTable_id.table
					%thead
						%tr
							%th name				
							%th redirect_uri				
							%th website
							%th.mark1
					%tbody
						- current_user.oauth2_clients.map do |client|
							%tr{:id=>"app#{client.id}"}
								%td= client.name
								%td= client.redirect_uri
								%td= client.website
								%td= link_to content_tag(:i, nil, class: 'icon-pencil'), edit_oauth2_client_path(client), remote: true, title: 'edit', class: 'edit-panel pull-right'
			-	else
				.alert.alert-info
					You don't have applications yet
		#new_application_container.item.well

= render partial: 'shared/jstemplates/oauth2_clients/row_app'