= form_for(:user, :url => password_path(:user), :html => { :method => :post }) do |f|
	.row
		.span3 &nbsp;
		.span6
			%h1 Forgot your password?
			%hr
			.row
				.span2
					= image_tag 'question-mark.png'
				.span4
					%div
						%div
							%strong Enter your email address and we'll send you a link that'll allow you to change your password.
						%br/
						= f.label :email
						= f.email_field :email
						= content_tag :span, flash[:error], class: 'label label-important' if flash[:error]
						
						
			%hr
			= recaptcha_tags
			%hr
			%div
				%a.btn.goto_signin#signin{:title=>'Click to go to sign in page'} I've remembered it!
				.pull-right
					= f.submit "Send me reset password instructions", class: 'btn btn-primary'
		.span3 &nbsp;
	